body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/***
 * Styleguide Purpose and Philosophy:
 */

/**
 * Purpose:
 * The main function of this styleguide is to highlight the main themes and styles used throughout the Share Economy Inc. website. The styles herein serve as responsive ways for the website to display itself on both desktop and mobile platforms. It also serves as a reusable code base for new pages within the site.
 */
 
 /**
 * Philosophies:
 * User Experience First: The main focus of our design prinicipals is to make the end user's experience as simple and efficient as possible. This is why it is so important to stick to the styles outlined in the guide.
 * 
 * Consistency: Consistency is important because it creates trust. And design is all about creating relationships between products and users.
 * 
 * Simplicity: By making the site as simply designed as possible, you prevent clutter that gets in the way of the primary philosophy: User Ecperience First.
 */
 
/***
* Grid Layout:
*/

/**
* Classes:
*
* `.section` - splits up the page horizontally. You'll need a few of these to break up the content, and you can use them
* in your main wrapper, or within other divs.
*
* `.col` - divides the section into columns. Each column has a left margin except the first one. Using .col:first-child
* { margin-left: 0; } means you don't need to use class="last" anywhere. It works in all browsers since IE6.
*
* `.group` - solves floating problems, by forcing the section to self clear its children (aka the clearfix hack). This
* is good in Firefox 3.5+, Safari 4+, Chrome, Opera 9+ and IE 6+.
*
* `.span_X_of_10` - specifies the width of the column. Using percentages means it's 100% fluid.
*
* `@media queries` - as soon as the screen size gets less than 480 pixels the columns stack and the margins disappear. Any sections within the site that need different widths above 480 pixels at varying breakpoints should have a media query declared to adjust the number of columns they span.
* 
* Note: Columns in the example are only colored to more clearly show column size.
*
*		@example
*		<div class="section group">
*		<div class="col span_1_of_10" style="background-color: #ffffff;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #E6E6E6;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #ffffff;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #E6E6E6;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #ffffff;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #E6E6E6;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #ffffff;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #E6E6E6;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #ffffff;">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10" style="background-color: #E6E6E6;">
*		1 of 10
*		</div>
*		</div>
*		<div class="section group">
*		<div class="col span_2_of_10" style="background-color: #ffffff;">
*		2 of 10
*		</div>
*		<div class="col span_8_of_10" style="background-color: #E6E6E6;">
*		8 of 10
*		</div>
*		</div>
*		<div class="section group">
*		<div class="col span_3_of_10" style="background-color: #ffffff;">
*		3 of 10
*		</div>
*		<div class="col span_7_of_10" style="background-color: #E6E6E6;">
*		7 of 10
*		</div>
*		</div>
*		<div class="section group">
*		<div class="col span_4_of_10" style="background-color: #ffffff;">
*		4 of 10
*		</div>
*		<div class="col span_6_of_10" style="background-color: #E6E6E6;">
*		6 of 10
*		</div>
*		</div>
*		<div class="section group">
*		<div class="col span_5_of_10" style="background-color: #ffffff;">
*		5 of 10
*		</div>
*		<div class="col span_5_of_10" style="background-color: #E6E6E6;">
*		5 of 10
*		</div>
*		</div>
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
	width: 89.84%;
}

.span_8_of_10 {
	width: 79.68%;
}

.span_7_of_10 {
	width: 69.52%;
}

.span_6_of_10 {
	width: 59.36%;
}

.span_5_of_10 {
	width: 49.2%;
}

.span_4_of_10 {
	width: 39.04%;
}

.span_3_of_10 {
	width: 28.88%;
}

.span_2_of_10 {
	width: 18.72%;
}

.span_1_of_10 {
	width: 8.56%;
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

	.span_1_of_10, .span_2_of_10, .span_3_of_10, .span_4_of_10, .span_5_of_10, .span_6_of_10, .span_7_of_10, .span_8_of_10, .span_9_of_10, .span_10_of_10 {
		width: 100%;
	}
}

/***
 * Color palette:
 */
 
 /**
 * Primary Colors:
 *
 * `#74f2b3` - Used for hovered buttons.
 *
 * `#105934` - Used for the navbar background color and default button color.
 *
 * `#76bf6f` - Used as the hover effect for the navbar background color and the active tab. Also used as the background color of clicked or "active" buttons.
 *
 * `#c774f2` - Used for links.
 *
 * `#c5a5c7` - Used for visited links and hovered links.
 *
 * 		@example
 *		<div style='border: 1px solid black; display: inline-block; margin: 0 10px 10px 0;'>
 *		<img class='img' style='max-width: 100px;' src='74f2b3.png'><br>
 *		<p class='color-label'>#74f2b3</p>
 *		</div>
 *		<div style='border: 1px solid black; display: inline-block; margin: 0 10px 10px 0;'>
 *		<img class='img' style='max-width: 100px;' src='105934.png'><br>
 *		<p class='color-label'>#105934</p>
 *		</div>
 *		<div style='border: 1px solid black; display: inline-block; margin: 0 10px 10px 0;'>
 *		<img class='img' style='max-width: 100px;' src='76bf6f.png'><br>
 *		<p class='color-label'>#76bf6f</p>
 *		</div>
 *		<div style='border: 1px solid black; display: inline-block; margin: 0 10px 10px 0;'>
 *		<img class='img' style='max-width: 100px;' src='c5a5c7.png'><br>
 *		<p class='color-label'>#c5a5c7</p>
 *		</div>
 *		<div style='border: 1px solid black; display: inline-block; margin: 0 10px 10px 0;'>
 *		<img class='img' style='max-width: 100px;' src='c774f2.png'><br>
 *		<p class='color-label'>#c774f2</p>
 *		</div>
 */
 .color-label {
	 text-align: center;
	 padding: 0 0 10px 0;
	 margin: 0;
 }
 
 /**
 * General Colors:
 *
 * `#ffffff` - White. Used for default background color and instances where white text is required for readability.
 *
 * `#000000` - Black. Used for all general and non-heading text. This may be ovveriden in special circumstances.
 *
 *		@example
 *		<div style='border: 1px solid black; display: inline-block; margin: 0 10px 10px 0;'>
 *		<img class='img' style='max-width: 100px;' src='ffffff.png'><br>
 *		<p class='color-label'>#ffffff</p>
 *		</div>
 *		<div style='border: 1px solid black; display: inline-block; margin: 0 10px 10px 0;'>
 *		<img class='img' style='max-width: 100px;' src='000000.png'><br>
 *		<p class='color-label'>#000000</p>
 *		</div>
 */

/***
 * Typography:
 */

/**
 * Font:
 * 
 * `.primary-font` - Used to declare the font for the entier page for Share Economy, Inc. by adding the class to the `body` tag of each page.
 *
 *		@example
 *		<body class='primary-font'>
 *		<p>The primary font for the website should be Palatino Linotype, followed by Book Antiqua as the secondary.</p>
 *		</body>
 */

.primary-font {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/***
* Headings:
*/

/**
* Heading 1:
* 
* `h1` - Used soley for the names of the service/provider.
*
*		@example
*		<h1>Heading 1</h1>
*/
h1{
	font-size: 48px;
	margin: 10px 10px 10px 0;
	padding-bottom: 5px;
}

/**
* Heading 2:
*
* `h2` - Used for paragraph and description headings.
*
*		@example
*		<h2>Heading 2</h2>
*/
h2{
	font-size: 34px;
	margin: 10px 10px 10px 0;
}

/**
* Heading 3:
*
* `h3` - Used for subheadings on lists, etc. within the heading 2 sections.
*
*		@example
*		<h3>Heading 3</h3>
*/
h3{
	font-size: 24px;
	margin: 10px 10px 10px 0;
}

/**
* Heading 4:
*
* `h4` - Used for footer headings only.
*
*		@example
*		<h4>Heading 4</h4>
*/
h4{
	font-size: 17px;
	margin: 10px 10px 10px 0;
}

/**
* Heading 5:
*
* `h5` - Used for footer links and text under Header 4.
*
*		@example
*		<h5>Heading 5</h5>
*/
h5{
	font-size: 12px;
	margin: 10px 10px 10px 0;
}

/**
* Heading 6:
*
* `h6` - Used for copyright on footer.
*
*		@example
*		<h6>Heading 6</h6>
*/
h6{
	font-size: 11px;
	margin: 10px 10px 10px 0;
}

/***
* Paragraphs:
*
* `p` - Used for general content text. Font size is 12pt with a medium weight and a normal line height. All text should be left-aligned by default, unless otherwise specified in another id or class.
*
*		@example
*		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
*/

p {
	font-size: 12pt;
	font-weight: medium;
	line-height: normal;
}

/***
* Links:
*/

/**
* Basic Links:
*
* `a` - Used whenever a link is needed.
*
*		@example
*		<a>This is a sample link!</a>
*/
a{
	color: #c774f2;
	font-size: 24px;
	text-decoration: none;
}
a:hover{
	color: #c5a5c7;
}
a:visited{
	color: #c5a5c7;
}

/**
* Links inside paragraphs:
*
* `a` - Used whenever a link is needed inside of a normal paragraph.
*
*		@example
*		<p>This is normal text, <a>but this is a sample link!</a></p>
*/
p a{
	font-size: 18px;
	font-weight: bold;
}

/***
 * Buttons:
 *
 * `.btn` - Buttons are used primarily to link to pages in the general body of the website; links not in the navbar.
 *
 *		@example
 *		<button class='btn'>Primary button</button>
 */

.btn {
	font-size: 15px;
	background-color: #105934;
	padding: 10px;
	text-decoration: none;
	border-style: none;
	color: #ffffff;
}
.btn:hover {
	background-color: #74f2b3;
	color: #000000;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:active {
	background-color: #76bf6f;
	color: #000000
}

/***
 * Images:
 *
 *
 * `.img` - Images should always have `width="100%"` with the height auto-calculated. They should also have a `max-width` property to ensure that the image does not get too large on larger screens.
 *
 *		@example
 *		 <img class='img' src="tomi.jpg" alt="Our wonderful professor, Tomi" style="max-width: 150px;"> 
 */

.img {
	
	background-color: #ffffff;
	padding: 10px;
	width: 100%;
}

/***
 * Lists:
 */

/**
 * Lists:
 *
 * `.list` - Used to show lists in general content areas.
 *
 *		@example
 *		<ul class='list'>
 *			<li>stuff 1</li>
 *			<li>stuff 2</li>
 *			<li>stuff 3</li>
 *		  </ul> 
 */

.list {
	
	background-color: #ffffff;
	padding: 10px;
}

/***
 * Tables:
 *
 * `.table` - Tables are used primarily to put things in tables.
 *
 *		@example
 *		<table class='table' style="width:100%">
 *			<tr>
 *				<th>First Name</th>
 *				<th>Last Name</th>
 *				<th>Age</th>
 *		    </tr>
 *		    <tr>
 *				<td>jon</td>
 *				<td>doe</td>
 *				<td>50</td>
 *		    </tr>
 *		    <tr>
 *				<td>jane</td>
 *				<td>doe</td>
 *				<td>49</td>
 *		    </tr>
 *		</table>  
 */
 
.table {
	
	background-color: #ffffff;
	padding: 10px;
}
 
 /***
 * Navmenu:
 *
 * `.nav` - Used to contain the navbar.
 * 
 * `.nav ul` - Used to style the list for the main navigation bar.
 *
 * `.nav li` - Used to make the navbar contents float left.
 *
 * `.nav li a` - Used to style the individual links.
 *
 * `.nav li a:hover` - Used to style the individual links on hover.
 *
 *		@example
 *		<div class='nav'>
 *		<ul>
 *		<li><a>Item 1</a></li>
 *		<li><a>Item 2</a></li>
 *		<li><a>Item 3</a></li>
 *		</ul>
 *		</div>
 */
 
 .nav {
	 width: 100%;
	 background-color: #105934;
	 clear: both;
	 padding: 0;
	 display: block;
 }
 
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #105934;
	overflow: hidden;
}

.nav li {
	float: left;
	background-color: #105934;
}

.nav li a {
    display: block;
    color: #ffffff;
	text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #76bf6f;
}

/***
 * Form Elements:
 */

/**
 * Text Fields:
 *
 * `.text-field` - Text inputs are used to enter text where only one line of short input is needed.
 *
 *		@example
 *		<input class='text' type="text" name="fname">
 */

.text-field {
	
	background-color: #ffffff;
	padding: 10px;
}

/**
 * Text Areas:
 *
 * `.area` - Text Areas are used primarily to enter large amounts of text such as reviews and messages.
 *
 *		@example
 *		<textarea class='area' rows="4" cols="50"></textarea>
 */

.area {
	
	background-color: #ffffff;
	padding: 10px;
}

/**
 * Checkboxes:
 *
 * `.checkbox` - Checkbox buttons are used primarily to confirm a user agrees to something such as a user agreement or to have them select multiple values from a list in a form.
 *
 *		@example
 *		<input class= 'radio' type="checkbox" name="A" value="A"> I agree to the terms of servcie <br>
 */

.checkbox {
	
	padding: 10px;
}

/**
 * Radio buttons:
 *
 * `.radio` - Radio buttons are used primarily to enter multiple choice answers or make selections where only one answer is allowed.
 *
 *		@example
 *		<input class= 'radio' type="radio" name="test" value="A"> A<br>
 *		<input class= 'radio' type="radio" name="test" value="B"> B<br>
 *		<input class= 'radio' type="radio" name="test" value="C"> C<br>
 * 		<input class= 'radio' type="radio" name="test" value="D"> D<br>
 */

.radio {
	
	padding: 10px;
}

/**
 * Dropdown Menus:
 *
 * `.select` - Dropdown menues are used to select an option from a predetermined list.
 *
 *		@example
 *		<select class='select'>
 *			<option value="Stuff1">Stuff1</option>
 *			<option value="Stuff2">Stuff2</option>
 *			<option value="Stuff3">Stuff3</option>
 *			<option value="Stuff4">Stuff4</option>
 *		</select>
 */

.select {
	
	padding: 10px;
}

/***
 * Alerts:
 *
 * `.alert` - Alerts are used primarily to alert a user to a specific event or error that has occured.
 *
 *		@example
 *		<p>Click the button to display a example alert</p>
 *
 *		<button onclick="showAlert()">ALERT</button>
 *
 *		<script>
 *			function showAlert() {
 *				alert(" You will be signed out in 10 minutes due to inactivity");
 *			}
 *		</script>
 */

.alert {
	
	padding: 10px;
}

/***
 * Popups:
 * 
 * `.popup` - Popups are used primarily to let the user know something like they have Caps lock on or their password is weak.
 *
 * `.popupText` - This class is used to style the popup's text.
 *
 * `.showPopup` - this class is toggled by javascript and is what controls the popup's visibility.
 *
 *		@example
 *		<p>Click to show a example popup</p>
 *		<button class="popup" onclick="popup()">CLICK ME<span class="popupText" id="thePopUp">Wooohooooo</span></button>
 *		<script>
 *			function popup() {
 *				var popup = document.getElementById("thePopUp");
 *				popup.classList.toggle("showPopup");
 *
 *			}
 *		</script>
 */

.popup {
	position: relative;
}

.popup .popupText {
	visibility: hidden;
	width: 100px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 8px;
	padding: 2px 2px 2px 2px;
	position: absolute;
	bottom: .000001%; /* yep */
	left: 110%;
	z-index: 1;
}

.popup .showPopup {
	visibility: visible;
	animation: fadeIn .5s;
}

@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1 ;}
}
