body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/***
 * Typography:
 */

/**
 * Font:
 * `.primary-font` - Used to declare the font for the entier page for Share Economy, Inc. by adding the class to the `body` tag of each page.
 *
 *		@example
 *		<body class='primary-font'>
 *		Page contents
 *		</body>
 */

.primary-font {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/***
 * Buttons:
 */

/**
 * Button:
 * `.btn` - Buttons are used primarily to link to pages in the general body of the website; links not in the 
 * navbar.
 *
 *		@example
 *		<button class='btn'>Primary button</button>
 */

.btn {
	font-size: 15px;
	background-color: #74f2b3;
	padding: 10px;
	text-decoration: none;
}

/***
 * Image:
 */

/**
 * Image:
 * `.img` - images are used primarily to show an image.
 *
 *		@example
 *		 <img class='img' src="stuf.jpg" alt="stuff" height="50" width="50"> 
 */

.img {
	
	background-color: #ffffff;
	padding: 10px;
}

/***
 * List:
 */

/**
 * List:
 * `.list` - Lists are used primarily to list stuff.
 *
 *		@example
 *		<ul class='list'>
 *			<li>stuff 1</li>
 *			<li>stuff 2</li>
 *			<li>stuff 3</li>
 *		  </ul> 
 */

.list {
	
	background-color: #ffffff;
	padding: 10px;
}

/***
 * Data Table:
 */

/**
 * table:
 * `.table` - Tables are used primarily to put things in tables.
 *
 *		@example
 *		<table class='table' style="width:100%">
 *			<tr>
 *				<th>First Name</th>
 *				<th>Last Name</th>
 *				<th>Age</th>
 *		    </tr>
 *		    <tr>
 *				<td>jon</td>
 *				<td>doe</td>
 *				<td>50</td>
 *		    </tr>
 *		    <tr>
 *				<td>jane</td>
 *				<td>doe</td>
 *				<td>49</td>
 *		    </tr>
 *		</table>  
 */
 
.table {
	
	background-color: #ffffff;
	padding: 10px;
}
 
 /***
 * Navmenu:
 */
 
 /**
 * Navmenu:
 * `.nav` - Used to contain the navbar.
 * 
 * `.nav ul` - Used to style the list for the main navigation bar.
 *
 * `.nav li` - Used to make the navbar contents float left.
 *
 * `.nav li a` - Used to style the individual links.
 *
 * `.nav li a:hover` - Used to style the individual links on hover.
 *
 *		@example
 *		<div class='nav'>
 *		<ul>
 *		<li><a>Item 1</a></li>
 *		<li><a>Item 2</a></li>
 *		<li><a>Item 3</a></li>
 *		</ul>
 *		</div>
 */
 
 .nav {
	 width: 100%;
	 background-color: #105934;
	 clear: both;
	 padding: 0;
	 display: block;
 }
 
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #105934;
	overflow: hidden;
}

.nav li {
	float: left;
	background-color: #105934;
}

.nav li a {
    display: block;
    color: #ffffff;
	text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #76bf6f;
}

/***
 * Text field:
 */

/**
 * Text:
 * `.text` - Text inputs are used primarily to enter text in a text field.
 *
 *		@example
 *		<input class='text' type="text" name="fname">
 */

.text {
	
	background-color: #ffffff;
	padding: 10px;
}

/***
 * Text area:
 */

/**
 * Text Area:
 * `.area` - Text Areas are used primarily to enter large amounts of text such as reviews.
 *
 *		@example
 *		<textarea class='area' rows="4" cols="50"></textarea>
 */

.area {
	
	background-color: #ffffff;
	padding: 10px;
}

/***
 * Checkbox buttons:
 */

/**
 * Checkbox buttons:
 * `.checkbox` - Checkbox buttons are used primarily to confirm a user agrees to something such as a user agreement.
 *
 *		@example
 *		<input class= 'radio' type="checkbox" name="A" value="A"> I agree to the terms of servcie <br>
 */

.checkbox {
	
	padding: 10px;
}

/***
 * Radio buttons:
 */

/**
 * Radio buttons:
 * `.radio` - Radio buttons are used primarily to enter multiple choice answers or making selections.
 *
 *		@example
 *		<input class= 'radio' type="radio" name="A" value="A"> A<br>
 *		<input class= 'radio' type="radio" name="B" value="B"> B<br>
 *		<input class= 'radio' type="radio" name="C" value="C"> C<br>
 * 		<input class= 'radio' type="radio" name="D" value="D"> D<br>
 */

.radio {
	
	padding: 10px;
}

/***
 * Dropdown Menu:
 */

/**
 * Dropdown Menu:
 * `.select` - Radio buttons are used primarily to select options from a menu.
 *
 *		@example
 *		<select class='select'>
 *			<option value="Stuff1">Stuff1</option>
 *			<option value="Stuff2">Stuff2</option>
 *			<option value="Stuff3">Stuff3</option>
 *			<option value="Stuff4">Stuff4</option>
 *		</select>
 */

.select {
	
	padding: 10px;
}

/***
 * Alert:
 */

/**
 * Alert:
 * `.alert` - Alerts are used primarily to alert a user.
 *
 *		@example
 *		<p>Click the button to display a example alert</p>
 *
 *		<button onclick="myFunction()">ALERT</button>
 *
 *		<script>
 *			function myFunction() {
 *				alert(" You will be signed out in 10 minutes due to inactivity");
 *			}
 *		</script>
 */

.alert {
	
	padding: 10px;
}

/***
* Headings:
*/

/**
* Heading 1:
* `h1` - Used soley for the names of the service/provider.
*
*		@example
*		<h1>Heading 1</h1>
*/
h1{
	font-size: 48px;
	margin: 10px 10px 10px 0;
	padding-bottom: 5px;
}

/**
* Heading 2:
* `h2` - Used for paragraph and description headings.
*
*		@example
*		<h2>Heading 2</h2>
*/
h2{
	font-size: 34px;
	margin: 10px 10px 10px 0;
}

/**
* Heading 3:
* `h3` - Used for subheadings on lists, etc. within the heading 2 sections.
*
*		@example
*		<h3>Heading 3</h3>
*/
h3{
	font-size: 24px;
	margin: 10px 10px 10px 0;
}

/**
* Heading 4:
* `h4` - Used for footer headings only.
*
*		@example
*		<h4>Heading 4</h4>
*/
h4{
	font-size: 17px;
	margin: 10px 10px 10px 0;
}

/**
* Heading 5:
* `h5` - Used for footer links and text under Header 4.
*
*		@example
*		<h5>Heading 5</h5>
*/
h5{
	font-size: 12px;
	margin: 10px 10px 10px 0;
}

/**
* Heading 6:
* `h6` - Used for copyright on footer.
*
*		@example
*		<h6>Heading 6</h6>
*/
h6{
	font-size: 11px;
	margin: 10px 10px 10px 0;
}

/***
* Paragraph:
* `p` - Used for general content text.
*
*		@example
*		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
*/

/***
* Links:
*/

/**
* Basic Links:
* `a` - Used whenever a link is needed.
*
*		@example
*		<a>This is a sample link!</a>
*/
a{
	color: #c774f2;
	font-size: 24px;
	text-decoration: none;
}
a:hover{
	color: #c5a5c7;
}
a:visited{
	color: #c5a5c7;
}

/**
* Links inside paragraphs:
* `a` - Used whenever a link is needed inside of a normal paragraph.
*
*		@example
*		<p>This is normal text. <a>but this is a sample link!</a></p>
*/
p a{
	font-size: 18px;
	font-weight: bold;
}


/***
* Grid Layout:
*/

/**
* Grid Layout:
*
* `.section` - splits up the page horizontally. You'll need a few of these to break up the content, and you can use them
* in your main wrapper, or within other divs.
*
* `.col` - divides the section into columns. Each column has a left margin except the first one. Using .col:first-child
* { margin-left: 0; } means you don't need to use class="last" anywhere. It works in all browsers since IE6.
*
* `.group` - solves floating problems, by forcing the section to self clear its children (aka the clearfix hack). This
* is good in Firefox 3.5+, Safari 4+, Chrome, Opera 9+ and IE 6+.
*
* `.span_1_of_3` - specifies the width of the column. Using percentages means it's 100% fluid.
*
* `@media queries` - as soon as the screen size gets less than 480 pixels the columns stack and the margins disappear.
*
*		@example
*		<div class="section group">
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		<div class="col span_1_of_10">
*		1 of 10
*		</div>
*		</div>
*		<div class="section group">
*		<div class="col span_2_of_10">
*		2 of 10
*		</div>
*		<div class="col span_8_of_10">
*		8 of 10
*		</div>
*		</div>
*		<div class="section group">
*		<div class="col span_3_of_10">
*		3 of 10
*		</div>
*		<div class="col span_7_of_10">
*		7 of 10
*		</div>
*		</div>
*		<div class="section group">
*		<div class="col span_4_of_10">
*		4 of 10
*		</div>
*		<div class="col span_6_of_10">
*		6 of 10
*		</div>
*		</div>
*		<div class="section group">
*		<div class="col span_5_of_10">
*		5 of 10
*		</div>
*		<div class="col span_5_of_10">
*		5 of 10
*		</div>
*		</div>
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
	width: 89.84%;
}

.span_8_of_10 {
	width: 79.68%;
}

.span_7_of_10 {
	width: 69.52%;
}

.span_6_of_10 {
	width: 59.36%;
}

.span_5_of_10 {
	width: 49.2%;
}

.span_4_of_10 {
	width: 39.04%;
}

.span_3_of_10 {
	width: 28.88%;
}

.span_2_of_10 {
	width: 18.72%;
}

.span_1_of_10 {
	width: 8.56%;
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

	.span_1_of_10, .span_2_of_10, .span_3_of_10, .span_4_of_10, .span_5_of_10, .span_6_of_10, .span_7_of_10, .span_8_of_10, .span_9_of_10, .span_10_of_10 {
		width: 100%;
	}
}

/***
 * Color palette:
 * These are the colors for the website:
 *
 * `#74f2b3` - Used for buttons.
 *
 * `#105934` - Used for the navbar background color.
 *
 * `#76bf6f` - Used as the hover effect for the navbar background color and the active tab.
 *
 * `#c774f2` - Used for links.
 *
 * `#c5a5c7` - Used for visited links and hovered links.
 *
 * `#ffffff` - Used for default background color.
 *
 * 		@example
 *		<img src='project4_color_palette.png' style='max-width: 800px; width: 100%'>
 */


/***
 * Popups:
 */

/**
 * Popups:
 * `.popup` - Popups are used primarily to let the user know something like they have Caps lock on or their password is weak.
 *
 *		@example
 *		<p>enter a matching password and hit submit to see the popup</p>
 *
 *		<form name="form" onsubmit="myFunction();">
 *			<input class='text' type="password" name="pass1" class="popuptext" id="myPopup"> Please enter password <br> 
 *		  	<input class='text' type="password" name="pass2" class="popuptext"> Please enter password again <br>
 *		  	<input type="SUBMIT" value="submit">
 *		  	<script>
 *				function myFunction() {
 *					if (form.pass1.value = form.pass2.value) {
 *						var popup = document.getElementById("myPopup");
 *						popup.classList.toggle("show");
 *					}
 *				}
 *		  	</script>
 *		</form>
 */

.popup {
	
	padding: 10px;
}
